<!--
<h3 align="center">Welcome to yapili! </h4>
<h5 align="center">We just need to know a few things about you. Fill out as much as you feel comfortable.</h5><br>
-->
<div class="form-group">
  <p align="center"><label for="motivation">WHAT WOULD YOU LIKE TO USE yapili FOR?</label></p>
  <div class="row">
      <!--TODO: pass an motivation id -->
    <div class="col-xs-4" ng-repeat="motivation in formCtrl.metadata.motivation">
      <input type="radio" name="motivation" ng-model="formCtrl.patient.motivation" ng-required="true" ng-value="motivation.id"/> <label> &nbsp{{motivation.name}} </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="form-group" ng-class="{ 'has-error': patientForm.name.$touched && patientForm.name.$invalid }">
  <label for="name">FIRST NAME<sup><span class="glyphicon glyphicon-asterisk"></span></sup> (private, only you can see this.)</label>
  <input type="text" class="form-control" name="name" ng-model="formCtrl.patient.name" ng-minlength="3" required>
  <div class="help-block" ng-messages="patientForm.name.$error" ng-if="patientForm.name.$touched">
    <!--<div ng-messages-include="components/form/messages.html"></div>-->
    <p ng-message="required">This field is required</p>
    <p ng-message="minlength">This field is too short</p>
  </div>
</div>
  </div>
  <div class="col-md-4">
    <div class="form-group" ng-class="{ 'has-error': patientForm.surname.$touched && patientForm.surname.$invalid }">
      <label for="surname">LAST NAME<sup><span class="glyphicon glyphicon-asterisk"></span></sup> (private)</label>
      <input type="text" class="form-control" name="surname" ng-model="formCtrl.patient.surname" ng-minlength="3" required>
      <div class="help-block" ng-messages="patientForm.surname.$error" ng-if="patientForm.surname.$touched">
        <div ng-messages-include="form/messages.html"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="date_of_birth">DATE OF BIRTH</label>
      <input type="date" format="yyyy-mm-dd" class="form-control" ng-model="formCtrl.patient.date_of_birth" name="date_of_birth" >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group" ng-class="{ 'has-error': patientForm.phone.$touched && patientForm.phone.$invalid }">
      <label for="phone">PHONE NUMBER<sup><span class="glyphicon glyphicon-asterisk"></span></sup> (private)</label>
      <input type="text" class="form-control" name="phone" ng-model="formCtrl.patient.phone" required >
      <div class="help-block" ng-messages="patientForm.phone.$error" ng-if="patientForm.phone.$touched">
        <div ng-messages-include="form/messages.html"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="country">COUNTRY<sup><span class="glyphicon glyphicon-asterisk"></span></sup></label>
      <select name="country" value="{{country.id}}"class="form-control">
        <option>Kenya</option>
        <option>Nigeria</option>
        <option>Rwanda</option>
        <option>Tanzania</option>
      </select>
      <!--<div class="radio" ng-repeat="country in formCtrl.metadata.countries">
        <label>
          <input type="radio" name="country" value="{{country.id}}" ng-model="formCtrl.patient.country">
          {{country.name}}
        </label>
      </div> -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="town">CITY/TOWN</label>
      <input type="text" class="form-control" name="town" ng-model="formCtrl.patient.town">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="gender">GENDER</label>
      <div class="row">
        <div class="col-md-6">
          <input type="radio" ng-model="formCtrl.patient.gender" value="m" /><label>&nbspM</label>
        </div>
        <div class="col-md-6">
          <input type="radio" ng-model="formCtrl.patient.gender" value="f" /><label>&nbspF</label><br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>LANGUAGE(S)</label>
      <p><label>(In which of the following languages can you communicate?)</label></p>
      <div ng-repeat="language in formCtrl.metadata.languages">
        <input type="checkbox" checklist-model="formCtrl.patient.languages" checklist-value="language.id"><label> &nbsp{{language.name}} </label>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="occupation">OCCUPATION</label>
      <p><label> (what do you do for work?)</label></p>
      <div class="row">
        <!--TODO: pass an occupation type id -->
        <div class="col-md-4" ng-repeat="occupation in formCtrl.metadata.occupation">
          <input type="radio" name="occupationGroup" ng-model="formCtrl.patient.occupation" ng-value="occupation.id"/> <label> {{occupation.name}} </label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" name="occupation_other" ng-model="formCtrl.patient.occupation_other" placeholder="What's your occupation?" ng-show= "formCtrl.patient.occupation == 4" >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="insurance">DO YOU HAVE HEALTH INSURANCE?</label>
      <div class="row">
        <div class="col-md-12">
          <input type="radio" ng-model="formCtrl.patient.health_insurance.any" value="false" />
          <label>No</label>
        </div>    
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <input type="radio" ng-model="formCtrl.patient.health_insurance.any" value="true" />
              <label>Yes</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" name="healthInsuranceName" ng-model="formCtrl.patient.health_insurance.company" placeholder="Please specify your insurance company" ng-show = "formCtrl.patient.health_insurance.any =='true'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-3 col-md-offset-9 col-xs-6 col-xs-offset-6">
      <a ui-sref="patientDashboard.form.lifestyle" class="btn btn-block btn-info">
      Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>