<div ng-controller = "DoctorUsersController as usersCtrl">
	<custom-header user="usersCtrl.user"></custom-header>
</div>
<div class="row" ng-controller="PatientViewController as ctrl">
	<div class="col-md-6 col-md-offset-1" ng-include="'app/components/patients/profile/patient-profile/patient-profile.html'"></div>
	<div class="col-md-5">
		<div class="div-with-padding">
			<h4>Medical milestones</h4>
		</div>
		<milestones milestones="ctrl.milestones"></milestones>
		<milestone-add ng-show="ctrl.user.type = 'doctor'" milestones="ctrl.milestones"></milestone-add>
	</div>
</div>