<div ng-controller="DashboardController as dashboardCtrl">				    
    <!-- /.panel -->
  <div class="row">
    <div class="col-lg-6">
        <chat></chat>
        <!-- /.panel .chat-panel -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
           <i class="fa fa-clock-o fa-fw"></i> Medical milestones
        </div>
        <!-- /.panel-heading -->
        <milestones milestones="dashboardCtrl.milestones"></milestones>
        <!--<timeline></timeline>-->
        <!-- /.panel-body -->
      </div>
        <!-- /.panel -->
    </div><!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
</div>


