<div class="container" style="position: relative; margin-top: -20%; background-color: #fff;">
  <div class="page-header text-center">
    <h2>Thank you for your time</h2>
    <p>Your data has been received.</p>
    <p>Your email is: {{formCtrl.questionnaire.email}}</p>
    <p>Back to&nbsp;
      <a href="http://yapili.com" target="_blank">
        <span class="-green-">YAPILI.COM</span>
      </a>
    </p>      
  </div> 
  <p class="text-center">For any information please contact us: info@yapili.com</p>
</div>
