<div class="container" style="position: relative; margin-top: -20%; background-color: #fff;">
  <div class="page-header text-center">
    <h2>Congratulations!</h2>
    <p>Your answers were well received and your pre-registration is now confirmed. You registered with the following email: {{formCtrl.questionnaire.email}}. </p>
    <p>We will launch very soon!</p>
    <p>Meanwhile, for any comments or questions, please feel free to reach out at info@yapili.com. Yours, yapili team' </p>     
  </div> 
    <p class="text-center">Back to&nbsp;
      <a href="http://yapili.com" target="_blank">
        <span class="-green-">YAPILI.COM</span>
      </a>
    </p>
</div>
