
    <div class="panel-body">
	    <ul class="chat">
	        <li class="left clearfix">
	            <span class="chat-img pull-left">
        					<img alt="{{dashboardCtrl.config.appName}}" src="./assets/img/logo.png" width="40px" class="img-responsive center-block">
	            </span>
	            <div class="chat-body clearfix">
	                <div class="header">
	                <strong class="primary-font">{{dashboardCtrl.config.appName}}</strong>
	                    <small class="pull-right text-muted">
	                        <i class="fa fa-clock-o fa-fw"></i> 14 days ago</small>
	                </div>
	                <p>
	                    Welcoming text for doctor.
	                </p>
	            </div>
	        </li>
	    </ul>
		</div>
