/* BASIC STYLINGS */
@green: #27ccc0;
@dark-green: #0C7F77; 
@lighter-green: #E2FDFB;
@light-green: #A9F4EF;
@gray: #eeeeee;
@gray: #CFD8C8;
@pink: #b98a77;
@orange: #CC5E27;
@brown: #7F2A00;
@violett: #6f606c;
@blue: #415275;


html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 20px;
  background-color: #fff;
  margin-bottom: 60px;
}

pre {
  margin-bottom:20px; 
}

a {
  color: @gray;
  &:hover, &:active {
    color: @green;
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

.active > a {
  color: @green;
}

label {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.-green- {
  color: @green;
}

.-gray- {
  color: @gray;
}

p, li{
/*  color: @green;*/
  font-size: 13px;
  font-weight: 400;
}

h3 {
  color: @green;
}

.container{
  @media screen {
    @media (min-width: 768px) {
      min-height: 400px;
    }
  }
}

.btn-primary{
  background: @green;
  border-color: @green;
  &:hover {
    background: @dark-green;
    border-color: @dark-green;
  }
}
.btn-success{
  background: @blue;
  border-color: @blue;
  &:hover {

  }
}
.btn-info{
  background: @light-green;
  border-color: @light-green;
  &:hover {

  }
}
.btn-warning{
  background: @pink;
  border-color: @pink;
  &:hover {

  }
}
.btn-danger{
  background: @orange;
  border-color: @orange;;
  &:hover {

  }
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  border: 0;
}

.jumbotron .btn {
  padding: 14px 24px;
}


/* NG-DIALOG */
.ngdialog.ngdialog-theme-plain .ngdialog-content {
    width: 80% !important;
}


/* custom DASHBOARD styles */
/* sidebar */
@media(min-width:768px) {
    .sidebar {
        margin-top: 0px;
    }
}
li.side-menu-list-title {
  padding: 15px;
  border-bottom: 0px;
}
