/* BASIC STYLINGS
============================================================================= */

html {
  position: relative;
  min-height: 100%;
}
body {
    padding-bottom: 20px;
    background-color: #fff;
    margin-bottom: 60px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

pre { margin-bottom:20px; }



/* form styling */
#form-container                { background:#fff; margin-bottom:20px;
    border-radius:5px; margin-top:20px; }


.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}


a{
 color: gray;
}
a:hover, a:active{
  color: #00BC8C;
}

.active > a{
  color: #00BC8C;
}

input.form-control:focus{
  border-color: #4FD7BD;
}
select.form-control{
  border-radius: 0px;
  -webkit-appearance: none;
}
select.form-control:focus
{
  border-color: #4FD7BD;
}
textarea.form-control {
  resize: none;
  border-radius: 0px;
}
textarea.form-control:focus{
  border-color: #4FD7BD;
}
label{
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.radio label, .checkbox label{
  font-weight: 300;
}
p, li{
  color: #393938;
  font-size: 14px;
  font-weight: 400;
}
.glyphicon.glyphicon-asterisk{
  color: #4FD7BD;
  font-size: 8px;
}


/* TEAM OVERWRITING */

.btn-info, .btn-info:hover, .btn-primary, .btn-primary:hover, .btn-success, .btn-success:hover {
	background: #00BC8C;
  border-color: #00BC8C;
  border:0px;
}

.log-date{
  color: #00BC8C;
}

.log-text span{
  color: #00BC8C;
  font-style: italic;
}

.label-info {
  background-color: #00BC8C;
}

.navbar-brand {
  line-height: 30px;
  padding: 12px 15px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: gray;
}



/*style upload*/

.thumb {
    width: 127px;
    height: 127px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

/*ng-dialog*/

.ngdialog.ngdialog-theme-plain .ngdialog-content {
    width: 80% !important;
}

/*#profile_view_container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}*/

#profile_view_container .offset{
    margin-left: 15px;
}

#profile_view_container h4 {
    font-weight: 400;
}

#profile_view_container .bordered{
        border-top: 1px solid #dddddd;
}

/* identical to boostrap's .img-circle, but in this cse should be applied to the svg elment, which is dynamically generated-*/
.avatar_picture svg {
  border-radius: 50%;
}

/*avatar selection*/

.avatarSelection body {
  padding: 20px; }
.avatarSelection hr {
  margin-left: -20px;
  opacity: 0.3; }
.avatarSelection md-radio-group {
  width: 150px; }
.avatarSelection p:last-child {
  padding-bottom: 50px; }
.avatarSelection [ng-controller] {
  padding-left: 20px; }
.avatarSelection .radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; }

.avatarSelection md-icon {
  margin: 20px;
  margin-top: 0;
  width: 128px;
  height: 128px; }

#profile_view_container md-icon {
  margin: 20px;
  width: 120px;
  height: 120px; 
}


/*For boostrap.js reuired for tooltip https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* custom DASHBOARD styles
-------------------------------------------------- */
/* sidebar */
@media(min-width:768px) {
    .sidebar {
        margin-top: 0px;
    }

li.list-title {
  padding: 15px;
  border-bottom: 0px;
}

/* timeline styles*/
.timeline:before {
    width: 0px;
}


/* FORM STYLES */
/* custom nav pils */
nav-pills>li>a{
  pointer-events:none;
  background-color: transparent;
}



/* Customize container */
@media (min-width: 768px) {
  #profile_view_container {
    max-width: 730px; 
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
  border: 0;
}
.jumbotron .btn {
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}

/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
#form_navigation>li>a {
    padding: 10px 25px;
}

.msg-error {
  color: #ff4136;
}