<nav class="navbar-inverse sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav in" id="side-menu">
      <li class="side-menu-list-title">
          YOUR PATIENTS
      </li>
      <li ui-sref-active="active" ng-repeat="patient in patients" ng-class="{ 'active': selectedPatient == patient && uiRouterState.current.name != 'doctorDashboard.profile' }">
        <a href="" class="username-avatar" ng-click="setPatient(patient);">            
          <span class="avatar small pull-left">
            <md-icon md-svg-icon="{{patient._avatar_selected_id}}" class="avatar_picture" alt="" class="center-block img-responsive"></md-icon>
          </span>
          <span class="username"> {{patient.name + '  ' + patient.surname | uppercase }} </span>
        </a>
      </li>
    </ul>
  </div>
</div>
