<div class="text-center" ng-show="showWelcomeText">
  <h4>Welcome to yapili!</h4>
  <h5>We just need to know a few things about you. Fill out as much as you feel confortable. </h5>
</div>

<div class="form-group" ng-class="{ 'has-error': doctorForm.name.$touched && doctorForm.name.$invalid }">
  <label for="name">FIRST NAME:* (private, only you can see this.)</label>
  <input type="text" class="form-control -bordered-focus" id="name" name="name" ng-model="formCtrl.doctor.name" ng-minlength="3" required>
  <div class="help-block" ng-messages="doctorForm.name.$error" ng-if="doctorForm.name.$touched">
    <div ng-message="required">This field is required</div>
  </div>
</div>

<div class="form-group" ng-class="{ 'has-error': doctorForm.surname.$touched && doctorForm.surname.$invalid }">
  <label for="surname">LAST NAME:* (private)</label>
  <input type="text" class="form-control -bordered-focus" name="surname" input-name="surname_input" ng-model="formCtrl.doctor.surname" ng-minlength="3" required>
  <div class="help-block" ng-messages="doctorForm.surname.$error" ng-if="doctorForm.surname.$touched">
    <div ng-message="required">This field is required</div>
  </div>
</div>

<div class="form-group">
  <label for="date_of_birth">DATE OF BIRTH:</label>
  <input type="date" class="form-control -bordered-focus" ng-model="formCtrl.doctor.date_of_birth" name="date_of_birth" >
</div>

<div class="form-group">
  <label>LANGUAGE(S):</label>
  <p><label>In which of the following languages can you communicate?</label></p>
  <div ng-repeat="language in formCtrl.metadata.languages">
    <input type="checkbox" checklist-model="formCtrl.doctor.languages" checklist-value="language.id"><label> {{language.name}} </label>
  </div>
</div>

<div class="form-group" ng-class="{ 'has-error': doctorForm.phone.$touched && doctorForm.phone.$invalid }">
  <label for="phone">PHONE NUMBER:* (private)</label>
  <input type="text" class="form-control -bordered-focus" id="phone" name="phone" ng-model="formCtrl.doctor.phone" ng-required="true" >
  <div class="help-block has-error" ng-messages="doctorForm.phone.$error" ng-if="doctorForm.phone.$touched" class="col-lg-3">
    <div ng-messages-include="form/messages.html"></div>
    <div ng-message="required">This field is required</div>
  </div>
</div>

<!-- Example plunker validation: http://plnkr.co/edit/6otoQUgon1HoJoKXyOyR?p=preview-->
<div class="form-group" ng-class="{ 'has-error': doctorForm.country.$touched && doctorForm.country.$invalid }">
  <label for="country">COUNTRY:*</label>
  <ui-select ng-required="true" name="country" ng-model="formCtrl.doctor.country" value="{{country.code}}" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
    <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="country.code as country in formCtrl.metadata.countries | filter: $select.search">
      <span ng-bind-html="country.name | highlight: $select.search"></span>
      <small ng-bind-html="country.code | highlight: $select.search"></small>
    </ui-select-choices>
  </ui-select>

  <div class="help-block has-error" ng-messages="doctorForm.country.$error" ng-if="doctorForm.country.$touched" class="col-lg-3">
    <div ng-message="required">This field is required</div>
  </div>
</div>

<div class="form-group">
  <label for="town">CITY/TOWN:</label>
  <input type="text" class="form-control -bordered-focus" name="town" ng-model="formCtrl.doctor.town">
</div>

<div class="form-group">
  <label for="gender">GENDER:</label>
  <br />
  <input type="radio" ng-model="formCtrl.doctor.gender" value="m" /><label>M</label>
  <input type="radio" ng-model="formCtrl.doctor.gender" value="f" /><label>F</label><br />
</div>

<div class="form-group" ng-class="{ 'has-error': doctorForm.occupation.$touched && doctorForm.occupation.$invalid }">
  <label for="occupation">YOU ARE A:*</label>
  <br />
  <div class="row">
    <div class="col-md-4" ng-repeat="occupation in formCtrl.metadata.occupation">
      <input type="radio" name="occupationGroup" ng-model="formCtrl.doctor.occupation" ng-required="true" ng-value="occupation.id"/> <label> {{occupation.name}} </label>
    </div>
    <div class="col-xs-8">
      <input type="text" class="form-control -bordered-focus" name="occupation_other" ng-model="formCtrl.doctor.occupation_other" placeholder="What's your occupation?" ng-show= "formCtrl.doctor.occupation == 5" >
    </div>
  </div>
  <div class="help-block has-error" ng-messages="doctorForm.occupation.$error" ng-if="doctorForm.occupation.$touched" class="col-lg-3">
    <div ng-message="required">You must select an option</div>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error': doctorForm.specialty.$touched && doctorForm.specialty.$invalid }">
  <label for="specialty">WHAT IS YOUR SPECIALTY?*</label>
  <ui-select ng-required="true" name="specialty" ng-model="formCtrl.doctor.specialty" value="{{specialty.id}}" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
    <ui-select-match placeholder="Select or search a specialty in the list...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="specialty.id as specialty in formCtrl.metadata.specialties | filter: $select.search">
      <span ng-bind-html="specialty.name | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>
  <div class="help-block has-error" ng-messages="doctorForm.specialty.$error" ng-if="doctorForm.specialty.$touched" class="col-lg-3">
    <div ng-message="required">This field is required</div>
  </div>
</div>


<div class="form-group" ng-class="{ 'has-error': doctorForm.license_number.$touched && doctorForm.license_number.$invalid && !formCtrl.doctor.license_number_confidential}">
  <label for="license_number">WHAT IS YOUR LICENSE NUMBER? *</label>
  <label>
    <input type="checkbox" ng-model="formCtrl.doctor.license_number_confidential">
    Don't feel comfortable sharing this online? 
    <a href="http://www.yapili.com/contactus" target="_blank">Call us. </a>
  </label>
  <input type="text" class="form-control -bordered-focus" name="license_number" ng-model="formCtrl.doctor.license_number" ng-minlength="3" required >
  <div class="help-block" ng-messages="doctorForm.license_number.$error" ng-if="doctorForm.license_number.$touched && !formCtrl.doctor.license_number_confidential">
    <div ng-message="required">This field is required. But you can tick the chekbox above to omit it.</div>
  </div>
</div>


<div class="form-group row" >
  <div class="col-md-12">
    <label for="license_number">UPLOAD YOUR SCANNED LICENSE:</label>
      <input text-center type="file" ngf-select ng-model="licenseFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required>
  </div>
  <div class="col-md-12">
    <div class="thumb"> 
      <img ng-show="doctorForm.file.$valid" ngf-src="!licenseFile.$error && licenseFile"
         class="thumb" />
    </div>
  </div>
  <div class="col-md-3">
    <button class="btn btn-block btn-info" ng-show="doctorForm.file.$valid" ng-click="uploadPicture(licenseFile)">Load image</button>
  </div>
  <!--<span class="progress" ng-show="licenseFile.progress >= 0">
      <div style="width:{{licenseFile.progress}}%" ng-bind="licenseFile.progress + '%'"></div>
  </span>
  <span ng-show="licenseFile.result">Upload Successful</span>-->

  <br />
</div>

<div class="form-group row">
  <div class="col-md-3 col-md-offset-9 col-xs-6 col-xs-offset-6">
      <a ui-sref="newDoctor.background" class="btn btn-block btn-info">
      Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>
