<div ng-show="formCtrl.uiRouterState.current.name == 'newDoctor.commitment'" class="text-center">
  <h4>Almost done.</h4>
  <h5>Let us know your commitment level and preferences.</h5>
</div>
<div ng-show="formCtrl.uiRouterState.current.name == 'editDoctor.commitment'">
  <h3>COMMITMENT</h3>
</div>

<div class="form-group row">
  <label for="preference" class="col-md-12">{{"how many hours a week will you be able to commit to answering patients?" | uppercase}}</label>
  <div class="col-md-4" ng-repeat="time in formCtrl.metadata.commitment_times">
    <input type="radio" name="commitment_times" ng-model="formCtrl.doctor.commitment.times" ng-required="true" ng-value="time.id"/> <label> {{time.name}} </label>
  </div>
</div>

<div class="form-group row">
  <label for="preference" class="col-md-12">{{"how many patients would you like to follow?" | uppercase}}</label>
  <div class="col-md-4" ng-repeat="count in formCtrl.metadata.patient_count_groups">
    <input type="radio" name="patient_count_groups" ng-model="formCtrl.doctor.commitment.patient_count" ng-required="true" ng-value="count.id"/> <label> {{count.value}} </label>
  </div>
</div>

<div class="form-group row">
  <label for="preference" class="col-md-12">{{"do you have a preference for type of patient?" | uppercase}}</label>
  <div class="col-md-12">
    <label>Age group</label>
  </div>
  <div class="col-md-4" ng-repeat="group in formCtrl.metadata.patient_age_groups">
    <input type="checkbox" checklist-model="formCtrl.doctor.commitment.patient_age_groups" checklist-value="group.id"><label> {{group.value}} </label>
  </div>
</div>

<div class="form-group row">
  <label for="gender" class="col-md-12">Gender</label>
  <div class="col-md-6" ng-repeat="gender in formCtrl.metadata.genders" >      
    <input type="radio" name="gender" ng-value="gender.code" ng-model="formCtrl.doctor.commitment.patient_gender"/>
      <label>{{gender.name}}</label>
  </div>
</div>


<div class="form-group row">
  <div class="col-md-12">
    <label>Country</label>
  </div>
  <div class="col-md-4" ng-repeat="country in formCtrl.metadata.patient_countries">
    <input type="checkbox" checklist-model="formCtrl.doctor.commitment.patient_countries" checklist-value="country.id"><label> {{country.name}} </label>
  </div>
</div>
<div ng-show="formCtrl.uiRouterState.current.name == 'newDoctor.commitment'" class="form-group row">
  <div class="col-md-3 col-xs-6">
      <a ui-sref="newDoctor.background" class="btn btn-block btn-info">
      <span class="glyphicon glyphicon-circle-arrow-left"></span> Back 
      </a>
  </div>
  <div class="col-md-3 col-md-offset-6 col-xs-6">
      <a ui-sref="newDoctor.submit" class="btn btn-block btn-info">
      Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>

<div class="col-md-3 col-md-offset-9 col-xs-6">
  <button ng-show="formCtrl.uiRouterState.current.name == 'editDoctor.commitment'" type="submit" class="btn btn-success btn-lg btn-block">
  Submit changes
  </button>
</div>

