<div class="text-center">
  <h4>Great. Now that we've got your basic info, let's find out a little about your background. </h4>
  <h5>Remember, you can fill out as much as you feel comfortable showing to your patients.</h5>
</div>

<div class="form-group">
  <label for="affiliated_hospitals">­ {{ "List any hospitals you are affiliated with:" | uppercase}} </label>
  <input type="text" class="form-control -bordered-focus" name="affiliated_hospitals" ng-model="formCtrl.doctor.background.affiliated_hospitals">
</div>

<div class="form-group">
  <label for="board_certifications">{{ "List any board certifications:" | uppercase }}</label>
  <input type="text" class="form-control -bordered-focus" name="board_certifications" ng-model="formCtrl.doctor.background.board_certifications">
</div>
<div class="form-group">
  <label for="professional_memberships">{{ "List any professional memberships:" | uppercase }}</label>
  <input type="text" class="form-control -bordered-focus" name="professional_memberships" ng-model="formCtrl.doctor.background.professional_memberships">
</div>
<div class="form-group">
  <label for="place_of_medical_degree">{{ "where did you receive your medical degree?" | uppercase }}</label>
  <div class="row">
    <div class = "col-md-6">
        <div class="row">
          <div class = "col-md-12">
            <label>Country</label>
          </div>
          <div class = "col-md-12">
            <ui-select name="place_of_medical_degree_country" ng-model="formCtrl.doctor.background.place_of_medical_degree.country" value="{{country.code}}" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
              <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="country.code as country in formCtrl.metadata.countries | filter: $select.search">
                <span ng-bind-html="country.name | highlight: $select.search"></span>
                <small ng-bind-html="country.code | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
    </div>
    <div class = "col-md-6">
        <div class="row">
          <div class = "col-md-12">
            <label>Affiliation</label>
          </div>
          <div class = "col-md-12">    
            <input type="text" class="form-control -bordered-focus" name="place_of_medical_degree_affiliation" ng-model="formCtrl.doctor.background.place_of_medical_degree.affiliation">
          </div>
        </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="place_of_residency">{{ "where did you practice your residency?" | uppercase }}</label>
  <div class="row">
    <div class = "col-md-6">
        <div class="row">
          <div class = "col-md-12">
            <label>Country</label>
          </div>
          <div class = "col-md-12">
            <ui-select name="place_of_medical_degree_country" ng-model="formCtrl.doctor.background.place_of_residency.country" value="{{country.code}}" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
              <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="country.code as country in formCtrl.metadata.countries | filter: $select.search">
                <span ng-bind-html="country.name | highlight: $select.search"></span>
                <small ng-bind-html="country.code | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
    </div>
    <div class = "col-md-6">
        <div class="row">
          <div class = "col-md-12">
            <label>Affiliation</label>
          </div>
          <div class = "col-md-12">    
            <input type="text" class="form-control -bordered-focus" name="place_of_residency_affiliation" ng-model="formCtrl.doctor.background.place_of_residency.affiliation">
          </div>
        </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="place_of_fellowship">{{ "where did you practice your fellowship?" | uppercase }}</label>
  <div class="row">
    <div class = "col-md-6">
        <div class="row">
          <div class = "col-md-12">
            <label>Country</label>
          </div>
          <div class = "col-md-12">
            <ui-select name="place_of_fellowship_country" ng-model="formCtrl.doctor.background.place_of_fellowship.country" value="{{country.code}}" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
              <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="country.code as country in formCtrl.metadata.countries | filter: $select.search">
                <span ng-bind-html="country.name | highlight: $select.search"></span>
                <small ng-bind-html="country.code | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
    </div>
    <div class = "col-md-6">
        <div class="row">
          <div class = "col-md-12">
            <label>Affiliation</label>
          </div>
          <div class = "col-md-12">    
            <input type="text" class="form-control -bordered-focus" name="place_of_fellowship_affiliation" ng-model="formCtrl.doctor.background.place_of_fellowship.affiliation">
          </div>
        </div>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3 col-xs-6">
      <a ui-sref="newDoctor.basic" class="btn btn-block btn-info">
      <span class="glyphicon glyphicon-circle-arrow-left"></span> Back 
      </a>
  </div>
  <div class="col-md-3 col-md-offset-6 col-xs-6">
      <a ui-sref="newDoctor.commitment" class="btn btn-block btn-info">
      Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>
