<div class="text-center">
	<h4>ALL DONE!</h4>
	<h5 ng-show="formCtrl.uiRouterState.current.name == 'newDoctor.submit'">You need to agree on our terms and conditions.</h5>
</div>

<div ng-show="formCtrl.uiRouterState.current.name == 'newDoctor.submit'">
	<input type="checkbox" ng-model="formCtrl.termsAndConditions">
	I HAVE READ AND I ACKNOWLEDGED
		<a href ng-click="formCtrl.openTermsConditions()">TERMS AND CONDITIONS</a>
	<button ng-disabled="!formCtrl.termsAndConditions" type="submit" class="btn btn-success btn-lg btn-block">
  Submit
	</button>
</div>
<button ng-show="formCtrl.uiRouterState.current.name == 'editDoctor.submit'" type="submit" class="btn btn-primary btn-lg btn-block">
  Submit changes
</button>


