<div ng-controller = "DoctorUsersController as usersCtrl">
  <custom-header user="usersCtrl.user"></custom-header>
</div>

<div ng-controller="DoctorEditController as formCtrl">

  <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
          <ul class="nav in" id="side-menu">
              <!--<li class="list-title">-->
              <li ng-class="active">
                  <a ui-sref="patientDashboard.profile">YOUR PROFILE</a>
                  <ul class="nav nav-second-level" collapse="collapseVar!=1">
                      <li ui-sref-active="active" ui-sref="editDoctor.basic"><a>BASIC INFO</a></li>
                      <li ui-sref-active="active" ui-sref="editDoctor.background"><a>BACKGROUND</a></li>
                      <li ui-sref-active="active" ui-sref="editDoctor.commitment"><a>COMMITMENT</a></li>
                  </ul>          
              </li>
          </ul>
      </div>
      <!-- /.sidebar-collapse -->
  </div> 


  <div id="page-wrapper" style="min-height: 561px;">  
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">

        <div id="form-container">            
            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="signup-form" name="doctorForm" ng-submit="formCtrl.updateDoctor()">
                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </form>
        
        </div>
      </div>
    </div>          
  </div>

</div>