<div ng-controller="DoctorCreateController as formCtrl" class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">

    <div id="form-container">
    
        <div class="page-header text-center">
          <h2>Doctor registration</h2>
            
            <!-- the links to our nested states using relative paths -->
            <!-- add the active class if the state matches our ui-sref -->
          <div class="row row-centered">
            <div class="col-md-7 col-sm-10 col-centered">
              <ul class="nav nav-pills" id="form_navigation">
                <li ui-sref-active="active" ui-sref=".basic"><a>Basic Info</a></li>
                <li ui-sref-active="active" ui-sref=".background"><a>Background</a></li>
                <li ui-sref-active="active" ui-sref=".commitment"><a>Commitment</a></li>
                <li ui-sref-active="active" ui-sref=".submit"><a>Submit</a></li>
              </ul>
            </div>
          </div>

        </div>
        
        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form class="user-form" name="doctorForm" ng-submit="formCtrl.addDoctor()">
            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>
    
    </div>
    

  </div>
</div>
