<div class="panel-body">
    <ul class="timeline" ng-repeat="log in dashboardCtrl.selectedPatient.logs">
        <li class="log-date">
            {{log.date | date:'mediumDate'}}
        </li>
        <li class="log-text">
            {{log.text}}
        </li>
    </ul>
    <div class="panel-footer"> 
        <div class="input-group"> 
           <!-- <input value="" type="text" placeholder="Name of Item" ng-model="itemName">-->
            <input id="btn-input" type="text" class="form-control input-sm"  placeholder="Type your text here..." ng-model="dashboardCtrl.logText"> 
            <span class="input-group-btn"> 
                <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="dashboardCtrl.addLog()"> Add </button> 
            </span> 
        </div> 
    </div>
</div>