<div class="panel-body">
    <ul class="timeline" ng-repeat="log in dashboardCtrl.selectedPatient.logs track by $index">
    <!--{{ $index % 2 }}-->
        <li ng-class="{ 'timeline-inverted': ( 3-1 == 2 ) }">
        <li>
            <div class="timeline-badge info"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{log.date | date:'mediumDate'}}</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>{{log.text}}</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="panel-footer"> 
        <div class="input-group"> 
           <!-- <input value="" type="text" placeholder="Name of Item" ng-model="itemName">-->
            <input id="btn-input" type="text" class="form-control input-sm"  placeholder="Type your text here..." ng-model="dashboardCtrl.logText"> 
            <span class="input-group-btn"> 
                <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="dashboardCtrl.addLog()"> Add </button> 
            </span> 
        </div> 
    </div>
</div>
